
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('classroom.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;



    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2 {
    font-weight: 600;
    margin-bottom: 30px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}



.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.forgot-password {
    text-align: right;
    font-size: 12px;
    margin-bottom: 15px;
}

.forgot-password a {
    color: #8338ec;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 15px;
    background: linear-gradient(90deg, #3a86ff, #8338ec);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

